body{
   background-color: white ;
}
.main-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: lightgreen;
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index: 50;
}

.nav a{
  position: relative;
  font-size: 18px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  float: left;
}
.nav a::before{
  content:'';
  position: absolute;
  top: 100%;
  left: 0px;
  width: 0px;
  height: 2px;
  background: gray;
  transition: .3s;
  
}
.nav a:hover::before{
  width: 100%;
  
}
.logo{
 
  background-size: 0px;
  mix-blend-mode: multiply;
  padding-left:10px;
}

.container {
  height: auto;
  width: 100%;
  position: relative;
}
.container img{
  padding-top: 65px;
  height: 650px;
  width: 390px;
  margin-left: auto;
  margin-right: auto;
}
.text-main{
  position: absolute;
  font-size: 50px;
  margin-right:100px;
  margin-left:200px;
  text-align: left;
  width: 500px;
  top: 8px;
  left: 16px;
  padding-top: 300px;
}
.quote{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
  padding-top:10px;
  text-align: left;
  margin-left: 200px;
  margin-right: 330px;
  width: 200px;
  position: absolute;
  top: 8px;
  right: 16px;
  padding-top: 474px;
}
.quote h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-top:10px;
    text-align: left;
    margin-left: 200px;
    margin-right: 20%;
    width: 200px;
    position: absolute;
    top: 8px;
    right: 16px;
    padding-top: 258px;
  }
  .quote p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top:10px;
    text-align: left;
    margin-left: 200px;
    margin-right: 375%;
    width: 200px;
    position: absolute;
    top: 8px;
    right: 16px;
    padding-top: 400px;
  }
.vertical-2{
    width:2px;
    height: 155px;
    background-color: red;
    margin-top: 16.7%;
    margin-bottom: 90px;
    margin-left: 59.5%;
    margin-right: auto;
    position: absolute;
    top: 7.9%;
  }
.vertical{
  width:3px;
  height: 150px;
  background-color: red;
  margin-top: 30.1%;
  margin-bottom: 90px;
  margin-left: 63%;
  margin-right: auto;
  position: absolute;
  top: 7.9%;
}
.fb-logo img{
  padding-top: 12px;
  position: absolute;
  top: 460px;
  right: 0;
  margin-right: 83.5%;
  width: 30px;
  height: 30px;
}
.ig-logo img{
  padding-top: 12px;
  position: absolute;
  top: 460px;
  right: 0;
  margin-right: 80.6%;
  width: 34px;
  height: 30px;
}
.dc-logo img{
  padding-top: 5px;
  position: absolute;
  top: 460px;
  right: 0;
  margin-right: 77.9%;
  width: 35px;
  height: 40px;
}